<tr>
  <th scope="row"><%= shipping.carrier.name %></th>
  <td><%= shipping.name_from %></td>
  <td><%= shipping.name_to %> </td>
  <td><%= shipping.status %> </td>
  <td><%= shipping.shipment_id %></td>
  <td><%= shipping.label_url %> </td>
</tr>