<tr>
  <th scope="row"><%= link_to solicitude.id, solicitude_shippings_path(solicitude.id) %></th>
  <td><%= solicitude.fecha %></td>
  <td><%= solicitude.status %></td>
  <td colspan="2"><%= solicitude.url_label %> </td>
  <td colspan="2"><%= solicitude.url_recurso %> </td>
</tr>